@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

$padding: 5em;
$color_1: #23272a;
$color_2: #2c2f33;
$color_3: #99aab5;
$color_4: white;
$color_5: #a7465d;
$font_2: "Lora", serif;
$font_1: "Poppins", sans-serif;

body {
  background-color: $color_1;
  color: $color_4;
  font-family: $font_1;
}

.container {
  display: block;
  height: 80vh;
  width: 80vw;
  background-color: $color_2;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  text-align: center;

  h2 {
    padding-top: 8em;
    font-family: $font_2;
    color: $color_3;
  }

  h1 {
    font-size: 300%;
  }

  #arrow {
    margin-top: 8em;
    height: 30px;
  }

  .cta {
    padding-top: 2em;
    width: 350px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;

    button {
      width: 150px;
      height: 40px;
      margin: 0 5em 0 0;
      font-family: $font_1;
      font-size: 18px;
      border-radius: 50px;
      cursor: pointer;
      border-width: 0px;
      background-color: $color_5;
      color: $color_4;
    }

    a img {
      position: relative;
      top: 4px;
      height: 20px;
    }
    a {
      text-decoration: none;
      color: $color_4;
    }
  }
}

.info {
  margin: 5em 0 5em 0;
  padding: 0 10vw 0 10vw;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;

  img {
    height: 500px;
  }
  .info-box {
    display: inline-block;
    position: relative;
    height: 500px;
    width: 500px;

    h1 {
      padding-top: 2.5em;
      color: $color_4;
      font-size: 2.8rem;
    }

    h2 {
      color: $color_3;
      font-family: $font_2;
      font-size: 1.5rem;
    }
  }

  #right {
    text-align: right;
  }
}

footer {
  margin-top: 5em;
  background-color: $color_2;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 4em;
  text-align: center;

  ul li {
    list-style: none;
    display: inline-block;
    margin: 1.25em 3.5em 0 0;
  }

  a {
    text-decoration: none;
    color: $color_4;
  }
}
