*,
*:before,
*:after {
  box-sizing: border-box;
}

$padding: 5em;
$color_1: blue;
$color_2: red;
$color_3: white;
$font_1: "Arial";
$font_2: "Helvetica";

body {
  background-color: $color_2;
  color: $color_3;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vh;
  height: 4em;

  ul li {
    list-style: none;
    display: inline-block;
    margin: 0 3.5em 0 0;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $color_3;
  }
}
